body {
    font-family: roboto;
    background-color:#7fbfc1;
    margin:0;
}

header {
    height: 20%;
    width: 100%;
    background-image: url(/img/banner\ image.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header img {
    
    padding:0.5em;
    filter:invert(80%)
    }

nav {
    margin-right: 1em;
    width: 80%;
    }


nav ul {
    
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding:2vw;
    margin: 2vw;
}

nav ul li a:hover {
    background-color: #7fbfc1;
    
}

h1 {
    padding: 1em;
    font-size: xx-large;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;


}

.contenedor1 {
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    
    }

.contenedor2 {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caja1 {
    max-width:25%;
    margin-top: 1em;
    padding: 1em;
    font-size: 12pt;
    background-color:rgb(214, 210, 210);
    flex-direction: column;
    align-self: flex-start;
    box-shadow: 5px 3px 5px rgb(105, 105, 105);
    border-radius: 1em;
}

.caja1 h3 {
    text-align: center;
}
.caja1 p {
    text-align: justify;

}
.caja1 img {
    width: 100%;
}

button {
    max-width: 90%;
    background-color: #669799;
    padding:1em;
    border:solid rgb(90, 90, 90) 1px;
    border-radius: 0.3em;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 10pt;
    box-shadow: 3px 3px 3px rgb(105, 105, 105);

}

.caja2 {
    background-color: rgb(214, 210, 210);
    max-width:20%;
    margin-top: 1em;
    padding: 1em;
    font-size: 12pt;
    text-align: justify;
    flex-direction: column;
    align-self: flex-start;
    box-shadow: 5px 3px 5px rgb(105, 105, 105);
    border-radius: 1em;
}
.caja2 h3 {
    text-align: center;
}
.caja2 img {
    width:100%;
}

footer {
    height: 20%;
    background-color: #04080F;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.rrss {
    font-size: xx-large;
    color:cadetblue;
    padding-right: 1em;
}
footer p{
    color:whitesmoke;
} 
.footer-redes {
    padding:1em;

}

@media (max-width: 768px) {
    
    header {
        justify-content: center;
    }

    ul li {
        margin: 1vw;
    }
    
    .contenedor1 {
        flex-direction: column;
        align-items: center;
        justify-items: center;

    }

    .caja1 {
        max-width: 60vw;
        align-self: center;

    }

    .contenedor2 {
        flex-direction: column;
        align-items: center;
        justify-items: center;

    }

    .caja2 {
        max-width: 60vw;
        align-self: center;

    }
}
